body {
  margin: 0;
  padding: 10px;
  height: 97vh;
  background-image: image-url('whiteRabbit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 1.5em;
  line-height: 20px;
}

#navbar {
  background: rgba(255,255,255,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-radius: 15px;
  
  .logo {
    width: 200px;
  }

  .categories {
    .category_name {
      margin-left: 5px;
      font-weight: bold;

      &:hover {
        color: maroon;
      }
    }
    
    .spade {
      width: 15px;
      margin: 0 15px -3px 0;
      visibility: hidden;
    }

    .category_name:hover + .spade {
      visibility: visible;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: gray;
  }
}

.button {
  padding: 5px 20px 0;
  background: white;
  border-radius: 15px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}

.button2 {
  padding: 10px 30px;
  font-size: 0.6em;
  border: none;
  margin: 10px 0 -10px;
}

.button3 {
  margin: 30px 0 0;
}

input[type="text"], textarea, select {
  width: 280px;
  text-align: center;
  padding: 8px 8px 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 0.8em;
  line-height: inherit;
}

select {
  padding: 2px 10px 0;
}