@import 'variables';

#task_wrapper {
  display: flex;
  align-items: center;
  padding: 50px 80px;

  .tasks {
    background: rgba(255, 255, 255, 0.45);
    width: 60vw;
    max-width: 720px;
    padding: 20px 20px 50px;
    border-radius: 20px;

    .task {
      padding: 5px 0 2px;
      margin: 15px 0;
      border-radius: 20px;
    }

    .task:nth-of-type(odd) {
      background: $powder-blue;

      h2 {
        color: $blue;
      }
    }

    .task:nth-of-type(even) {
      background-color: $powder-pink;

      h2 {
        color: $red;
      }
    }

    .task:nth-last-of-type(1) {
      margin-bottom: 40px;
    }

    .task_description {
      padding: 10px 30px 30px;
    }

    .links {
      margin: 20px 0 0;
      font-size: 0.8em;
    }
  }
}

#task_form {
  padding: 20px 0;
  margin: 20px 0;
  position: relative;
  overflow-y: hidden;
  color: white;
}

#task_form:after {
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  background-image: image-url('Alice-bg.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}